<%-

local sqlite = require "lsqlite3"
local dbPath = "/etc/config/"
local dbName = "mqtt-msg.db"
local dbFullPath = dbPath .. "" ..dbName
local sys = require "luci.sys"
messageList = {}

local db = sqlite.open(dbFullPath)
local query = "SELECT * FROM messages"
local stmt = db:prepare(query)
if stmt then
    for row in db:nrows(query) do
        messageList[#messageList+1] = row
    end
end
db:close()

-%>

<h3 class="content-title" onclick="toggleContent(this, '<%=self.config%>.<%=self.sectiontype%>.toggle')">
    <div class="toggle-arrow expanded"><img src="<%=media%>/img/icons/arrow-toggle.svg"></div>
    <span>Messages</span>
</h3>

<div class="table-wrapper toggle-content">
    <br><br>
    <table>
        <thead>
            <th>
				<label class="label-cell">ID</label>
			</th>
            <th>
				<label class="label-cell">Message</label>
			</th>
            <th>
				<label class="label-cell">Time</label>
			</th>
        </thead>
        <tbody>
            <% for i=1,#messageList do %>
            <tr>
                <td style="text-align: left;"><%=messageList[i].id%></td>
                <td style="text-align: left;""><%=messageList[i].message%></td>
                <td style="text-align: left;""><%=messageList[i].timestamp%></td>
            </tr>
            <% end %>
        </tbody>
        
    </table>
    
</div>
<br>
